[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
cenotes-lib = {version = ">=0.1.0"}
requests = {version = ">=2.18.0"}
python-dateutil = {version = ">=2.6.0"}


[dev-packages]

"flake8" = "*"
tox = "*"
bumpversion = "*"
